*.mod
*.o
RUNS/
create_adap_grid_Nbody_SPH
create_adap_grid_galaxy
create_adap_grid_magtar
create_adap_grid_trustI
dartray_Nbody_SPH
dartray_galaxy
dartray_magtar
dartray_trustI
*.h5
NBODY_SPH_GRIDS/run708mainDiff.01000
NBODY_SPH_GRIDS/run708mainDiff.01000.FeMassFrac
NBODY_SPH_GRIDS/run708mainDiff.01000.OxMassFrac
NBODY_SPH_GRIDS/run708mainDiff.param